.welcome {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #000;

  &__message {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .ant-typography {
      color: #fff;
    }
  }

  &__alert {
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #dd252a;
    color: #fdd;
  }
}
